<a href="https://colab.research.google.com/github/Hoanguyenphuong31231025892/uyenphuong.github-io/blob/main/Buoi2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python101

# Ngôn ngữ Python

In [ ]:
print("Hello, world")

Hello, world

In [ ]:
score = 80
if score >= 60:
    print("Pass")

Pass

In [ ]:
# Python Variable
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x = {x}, price={price, type(price)}, word={word, type(word)}')

2 2.5 Hello
x = 2, price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [ ]:
x = 2
y = x + 1
print(x, y)

2 3

In [ ]:
#comment
from platform import python_version
print("Python version:", python_version())

Python version: 3.11.13

In [ ]:
x = 'Hello, World'
print(x, type(x))
x = 2
print(x, type(x))
x = 2.5
print(x, type(x))
x = 7j
print(x,type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]
x.append('hello')
print(x, type(x), x[1:3])

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']

In [ ]:
x = {'name': 'Tom', 'age':20}
print(x, type(x), x['name'], x['age'])

{'name': 'Tom', 'age': 20} <class 'dict'> Tom 20

In [ ]:
x = True #bool
print(x, type(x))
x = b"Hello" #bytes
print(x, type(x))
x = bytearray (5) #bytearray
print(x, type(x))
x = None #NoneType
print(x, type(x))
x= memoryview(bytes(5)) #memoryview
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
None <class 'NoneType'>
<memory at 0x78fbe712e680> <class 'memoryview'>

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [ ]:
x = 2
y = 3.4
z = 7j + 3.5
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [ ]:
print(3 > 2)
print(3 == 2)
print(3 < 2)
print(3 != 2)

True
False
False
True

In [ ]:
#BMI
#input
height_cm = 158
weight_kg = 51

#process
height_m = height_cm / 100
bmi = weight_kg / (height_m ** 2)
print('Your BMI is', round(bmi, 2))

Your BMI is 20.43

In [ ]:
# How much is your $100 worth after 7 years
fv = 100 * (1 + 0.05) **7
print('fv= ', round(fv, 2))

fv=  140.71

In [ ]:
#input
pv = 100
r = 0.1
n = 7

#process
fv = pv * ((1 + r) **n)
print('fv= ', round(fv, 2))

fv=  194.87

In [ ]:
amount = 100
interest = 10 # 10%
years = 7

#proces
future_value = amount *( (1 + (interest / 100.0) ** years))
print('future_value= ', round(future_value, 2))

future_value=  100.0


# Cấu trúc dữ liệu

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'cherry', 'banana'} <class 'set'>

In [ ]:
#List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
# tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

5
10
20
50

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

Python Control Logic and Loops

In [ ]:
# Python if
score = 80
if score >=60 :
 print("Pass")

Pass

In [ ]:
# Python if else
score = 80
if score >=60 :
 print("Pass")
else:
 print("Fail")

Pass

In [ ]:
score = 95
if score >= 90 :
 print("A")
elif score >=60 :
 print("Pass")
else:
 print("Fail")

A

In [ ]:
# Python if elif else
score = 90
grade = ""
if score >=90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
 print(grade)

A

In [ ]:
for i in range(1,6):
 print(i)

1
2
3
4
5

In [ ]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [ ]:
# while loops
age = 10
while age < 20:
 print(age)
 age = age + 1

10
11
12
13
14
15
16
17
18
19

**Python Functions**

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87